:root {
  --bg-primary: linear-gradient(
    90deg,
    rgba(240, 242, 241, 1) 54%,
    rgba(240, 240, 240, 1) 81%
  );
  --bg-dark: #333;
  --bg-overlay: rgba(0, 0, 0, 0.4);
  --color-primary: rgb(253, 255, 254);
  --color-green: rgb(16, 147, 16);
  --text-dark: #444;
  --text-white: #fff;
  --text-color: #6f6b6b;
  --transition: all 1ms ease-in;
  --font-poppins: 'Poppins', sans-serif;
}

.error {
  font-variant: small-caps;
  margin-top: 5px;
  color: rgb(255, 10, 10);
  font-weight: 300;
  font-size: 1rem;
}

/* Dashboard style */
.dashboard {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-container {
  width: 100%;
  height: 100%;
}

.stat-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.stat-container > .card {
  position: relative;
  padding: 2rem 1rem;
  width: 500px;
  height: 130px;
  margin: 0 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: var(--text-color);
}

.stat-container > .card:nth-child(1) i {
  color: goldenrod;
}
.stat-container > .card:nth-child(2) i {
  color: midnightblue;
}
.stat-container > .card:nth-child(3) i {
  color: green;
}
.stat-container > .card:nth-child(4) i {
  color: orangered;
}

.stat-container > .card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.stat-container > .card .title h2 {
  font-weight: 300;
  font-size: 1.2rem;
}
.stat-container > .card h3 {
  font-weight: 300;
  font-size: 1.4rem;
}

.stat-container > .card .title i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.stat-container > .card .title .value {
  font-weight: 300;
  font-size: 1.2rem;
}

.chart-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 20px;
  padding: 0 0.8rem;
  margin: 2rem 0;
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 5.8rem;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--text-white);
  color: var(--text-white);
  border-radius: 5px;
}

.notification {
  width: 100%;
  height: 100%;
  background-color: var(--text-white);
  padding: 2rem 1rem;
  border-radius: 5px;
}

.notification h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.notification ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0;
}

.notification ul li i {
  margin-right: 10px;
  color: orangered;
}

/* Generate Password  Style*/

.generate-password {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.label {
  font-weight: 300;
  font-weight: 1.2rem;
  color: var(--text-color);
  text-align: center;
}

.meter {
  position: relative;
  margin: 10px 0;
  width: 520px;
  height: 20px;
  background-color: var(--text-white);
  border-radius: 10px;
}

.strength {
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--transition);
}

.form-container .card {
  width: 600px;
  padding: 2rem;
}

.form-container .card .form-control {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 0 1.2rem;
}

.form-container .card .len {
  justify-content: space-between;
  align-items: center;
}

.form-container .card label {
  font-weight: 300;
  font-size: 1.2rem;
}

.length {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: green;
  border-radius: 5px;
  border-color: rgb(21, 161, 21);
}

.screen-con {
  background-color: var(--text-white);
  margin: 1rem 0;
  padding: 1.5rem 1rem;
}

.input-con {
  background-color: var(--text-white);
  margin: 1rem 0;
  padding: 2rem 1rem;
}
.screen {
  width: 100%;
  height: 4rem;
  padding: 0 10px;
  font-size: 2rem;
  font-weight: 300;
  background: var(--bg-Nblue);
  color: var(--bg-white);
}

.form-control .bi-clipboard {
  position: absolute;
  right: 1.5rem;
  font-size: 1.2rem;
  color: var(--bg-white);
}

.copy-success {
  position: absolute;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 300;
  right: 1.5rem;
  color: var(--color-green);
}

.form-control input[type='checkbox'] {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-weight: 300;
  color: var(--text-white);
  border: none;
  width: 100%;
  height: 60px;
  padding: 1rem 0;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.button:first-child {
  background-color: var(--bg-dark);
  margin-right: 5px;
}

.button:last-child {
  background-color: var(--color-green);
  margin-left: 5px;
}

.button:hover {
  transform: scale(0.97);
}

.success-box {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-white);
  border-radius: 10px;
  z-index: 100;
}

.success-box > p {
  color: var(--color-green);
  font-weight: 300;
  font-size: 1.2rem;
}

/* Saved form */
.overlay-save {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay);
  top: 0;
  left: 0;
  border-radius: 5px;
  margin: 0 5px;
}

.save-form {
  position: relative;
  position: absolute;
  width: 600px;
  background-color: var(--text-dark);
  padding: 2rem 1.3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close-save {
  position: absolute;
  color: var(--text-white);
  font-size: 1.5rem;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.save-form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 1.2rem;
}

.save-form .form-control label {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text-white);
  margin-bottom: 10px;
}

.save-form .form-control input {
  width: 100%;
  height: 3.3rem;
  padding: 1rem 10px;
  font-size: 2rem;
  font-weight: 300;
  background: #999;
}

.save-form .form-control input:focus {
  outline: none;
}

.encrypt-con {
  display: flex;
}

.key-btn {
  width: 200px;
  border: none;
  margin-left: 10px;
  background-color: gold;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.save-button {
  width: 100%;
  display: flex;
}

.regenerate-btn {
  width: 100%;
  height: 3.3rem;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 300;
  border: none;
}

.save-btn {
  width: 100%;
  height: 3.3rem;
  margin-left: 5px;
  background-color: var(--color-green);
  cursor: pointer;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 300;
  border: none;
}

.generate-error {
  position: absolute;
  width: 300px;
  height: 2rem;
  padding: 5px 1px;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 5px;
  background: red;
  color: var(--text-white);
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.generate-error p {
  text-align: center;
}

/* Password Save Style */
.password-save {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: visible;
}

.search {
  position: relative;
  margin: 1rem 0 3rem;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 500px;
  height: 3rem;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 1.1rem;
  color: var(--text-color);
  caret-color: var(--color-green);
}

.add-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 1rem;
  background-color: var(--color-green);
  color: var(--text-white);
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

.search-box:focus {
  outline: none;
}

.save-pass {
  width: 100%;
}

table {
  width: 100%;
}

thead,
tfoot {
  background-color: var(--text-color);
  color: var(--text-white);
}

td {
  padding: 4px 5px;
}

td > button {
  padding: 5px 10px;
  background-color: rgb(250, 195, 92);
  color: var(--text-white);
  border: none;
  border-radius: 2px;
  margin-left: 5px;
  font-variant: small-caps;
  font-size: 1.1rem;
  cursor: pointer;
}

th {
  text-align: left;
  padding: 8px 5px;
  margin-left: 0;
}

thead th {
  border-bottom: 2px solid black;
}
tfoot th {
  border-top: 2px solid black;
}

th:nth-child(1) {
  width: 100px;
}

th:nth-child(4) {
  width: 100px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(207, 228, 246);
}
tbody tr:nth-child(even) {
  background-color: var(--text-white);
}

.warning,
.confirm {
  position: absolute;
  width: 400px;
  background-color: var(--text-dark);
  color: var(--text-white);
  padding: 2rem 1.3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.warning > p {
  text-align: center;
  font-size: 1.1rem;
}

.warning-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.warning button {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--text-white);
  cursor: pointer;
}

.warning button:first-of-type {
  background-color: var(--color-green);
}
.warning button:last-of-type {
  background-color: rgb(241, 38, 38);
}

.confirm .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 1.2rem;
}

.confirm .form-control label {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text-white);
  margin-bottom: 10px;
}

.confirm .form-control input {
  width: 100%;
  height: 3.3rem;
  padding: 1rem 10px;
  font-size: 2rem;
  font-weight: 300;
  background: #999;
}

.confirm .form-control input:focus {
  outline: none;
}

.confirm button {
  width: 100%;
  height: 3.3rem;
  margin-right: 5px;
  cursor: pointer;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 300;
  border: none;
  border-radius: 5px;
}

.confirm-password button:first-of-type,
.confirm-password-show button:last-of-type {
  background-color: var(--color-green);
}

.confirm-password button:last-of-type,
.confirm-password-show button:first-of-type {
  background-color: rgb(241, 38, 38);
}

/* Key Manager */
.key-manager,
.account,
.setting {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
}

hr {
  width: 100%;
  border: 2px solid black;
  margin: 1rem 0;
}

.generateKey,
.account-info,
.set-info {
  background-color: var(--text-white);
  width: 80%;
  height: 500px;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.generateKey > h3 {
  margin: 1rem 0;
  text-align: center;
}

.key-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.key-info > h3 {
  margin-left: 5px;
}

.key-info > p {
  margin-left: 7px;
}

.generateKey .keyBtn {
  border: none;
  padding: 1rem 13px;
  border-radius: 5px;
  background-color: var(--color-green);
  color: var(--text-white);
  cursor: pointer;
}

.generateKey ul,
.account-info ul,
.set-info ul {
  margin-top: 1rem;
}

.generateKey ul li,
.account-info ul li,
.set-info ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.generateKey ul li i {
  margin-right: 10px;
  font-size: 1.7rem;
  color: var(--color-green);
}

.generateKey ul li p,
.account-info ul li p {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.generateKey ul li button,
.set-info ul li button {
  padding: 5px 10px;
  background-color: rgb(250, 195, 92);
  color: var(--text-white);
  border: none;
  border-radius: 2px;
  margin-left: 5px;
  font-variant: small-caps;
  font-size: 1.1rem;
  cursor: pointer;
}

.show-key > .down,
.show-key-main > .down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-key button,
.show-key-main button {
  background-color: var(--color-green);
  width: 100px;
}

#key-cancel,
#key-cancel-main {
  background-color: rgb(255, 64, 64);
}
#key-generate,
#key-generate-main {
  background-color: var(--color-green);
}
/* Account style */

.account-info h3 {
  margin-right: 1rem;
  font-weight: 300;
}

/* Setting style */

.set-info ul li p {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.set-info ul li button {
  padding: 1rem 10px;
}
.change-cancel {
  background-color: var(--text-color);
}

.change-btn button:last-of-type {
  background-color: var(--color-green);
}
.change-btn button:first-of-type {
  background-color: rgb(162, 9, 9);
}

.delete-account-warning {
  position: absolute;
  width: 500px;
  background-color: var(--text-dark);
  color: var(--text-white);
  padding: 2rem 1.3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.delete-account-warning > p {
  text-align: center;
  font-size: 1.1rem;
}

.delete-warning-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.delete-account-warning button {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--text-white);
  cursor: pointer;
}

.delete-account-warning button:first-of-type,
.delete-btn button:first-child {
  background-color: var(--color-green);
}
.delete-account-warning button:last-of-type,
.delete-btn button:last-child,
#delete-account {
  background-color: rgb(241, 38, 38);
}

/* Help */
.help {
  padding: 1rem;
}

.help-container h1 {
  text-align: center;
  margin: 1rem 0;
}

.help-container > p {
  text-align: center;
  margin: 1rem 0;
}

.help-container ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.help-container ul li {
  margin: 1rem 0;
}

.help-container ul li h3 {
  margin-bottom: 10px;
}

.help-container a {
  margin-top: 5px;
}

/* Animation */

.slideZoom {
  animation: slideZoom 1.9s forwards;
}

@keyframes slideZoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
  /* Dashboard */

  .dashboard {
    padding: 10px 5px;
  }

  .stat-container {
    flex-direction: column;
  }

  .stat-container > .card {
    margin: 0.6rem;
    width: 100%;
  }
  .chart-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.37fr 0.6fr;
    gap: 0;
    padding: 0;
  }

  .chart {
    margin: 0;
    border-radius: 0;
    height: 700px;
    padding-top: 5rem;
    margin-bottom: 2rem;
  }

  .pie {
    border-radius: 0;
    height: 400px;
  }

  .notification {
    margin: 0;
    border-radius: 0;
  }

  /* Generate password style */

  .generate-password {
    grid-template-columns: 1fr;
  }
  .ads-container {
    display: none;
  }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  /* Dashboard */

  .chart-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.34fr 1fr;
    gap: 0;
    padding: 0;
    height: 1000px;
  }

  .chart {
    margin: 0;
    border-radius: 0;
    height: 500px;
    padding-top: 5rem;
    margin-bottom: 0;
  }

  .notification {
    margin-top: 1.2rem;
  }
  .notification ul {
    list-style: none;
  }

  /* Generate password style */
  .form-container .card {
    width: 100%;
  }

  .meter-container {
    margin-bottom: -15px;
    padding: 10px 20px;
  }

  .meter {
    width: 100%;
  }

  /* Password save */
  .search {
    width: 100%;
  }
  .search-box {
    width: 100%;
  }

  .add-btn {
    position: relative;
    right: 0;
    top: 2px;
    margin-left: 5px;
  }

  .overlay-save {
    margin: 0;
    border-radius: 0;
  }

  .save-form {
    width: 95%;
  }
  td > button {
    padding: 5px 5px;
    margin-left: 0;
    font-size: 1rem;
  }
  .warning,
  .confirm,
  .delete-account-warning {
    width: 95%;
  }

  .key-manager,
  .account,
  .setting {
    padding-top: 0;
  }
  .generateKey,
  .account-info,
  .set-info {
    width: 100%;
    height: auto;
  }

  .set-info ul li {
    flex-wrap: wrap;
  }
  .set-info ul li p {
    margin: 0;
  }
}
