<div class="account-info">
  <h2>User Account</h2>
  <ul>
    <li>
      <h3>Username :</h3>
      <p class="account-user-name"></p>
    </li>
    <li>
      <h3>Saved Password :</h3>
      <p class="account-saved-password"></p>
    </li>
    <li>
      <h3>Generated Password :</h3>
      <p class="account-generated-password"></p>
    </li>
    <li>
      <h3>Weak Password :</h3>
      <p class="account-weak-password"></p>
    </li>
    <li>
      <h3>Strong Password :</h3>
      <p class="account-strong-password"></p>
    </li>
    <li>
      <h3>Online Safety :</h3>
      <p class="account-safety"></p>
    </li>
  </ul>
  <h2>Note:</h2>
  <p>Online Safety are calculated base on the password that are been save.</p>
</div>
