<div class="dash-container">
  <div class="stat-container">
    <div class="save-password card">
      <div class="title">
        <h2>Saved Password</h2>
        <i class="bi bi-safe"></i>
      </div>
      <h3 id="saved-value" class="value">0</h3>
    </div>
    <div class="generated-password card">
      <div class="title">
        <h2>Generated Password</h2>
        <i class="bi bi-lock"></i>
      </div>
      <h3 id="generate-value" class="value">0</h3>
    </div>
    <div class="strong-password card">
      <div class="title">
        <h2>Strong Password</h2>
        <i class="bi bi-check-circle-fill"></i>
      </div>
      <h3 id="strong-value" class="value">0</h3>
    </div>
    <div class="weak-password card">
      <div class="title">
        <h2>Weak Password</h2>
        <i class="bi bi-exclamation-triangle"></i>
      </div>
      <h3 id="weak-value" class="value">0</h3>
    </div>
  </div>
  <div class="chart-container">
    <div class="chart"></div>

    <div class="notification">
      <h2>Notification Panel</h2>
      <ul id="notify-set"></ul>
    </div>
  </div>
</div>
