<div class="form-container">
  <div class="meter-container">
    <h2 class="label">Password strength</h2>
    <div class="meter">
      <div class="strength"></div>
    </div>
  </div>
  <form class="card">
    <div class="form-control screen-con">
      <input type="text" name="screen" id="screen" class="screen" disabled />
      <i class="bi bi-clipboard" id="copyPassword"></i>
      <p class="copy-success flex hidden"><i class="bi bi-check"></i>copied</p>
    </div>
    <div class="input-con">
      <div class="form-control len">
        <label for="length">Password Length</label>
        <input
          type="number"
          name="length"
          id="length"
          class="length"
          value="4"
          min="4"
          max="20"
        />
      </div>
      <div class="form-control">
        <input
          type="checkbox"
          checked
          name="lowercase"
          id="lowercase"
          class="lowercase"
        />
        <label for="lowercase">Lowercase</label>
      </div>
      <div class="form-control">
        <input
          type="checkbox"
          checked
          name="uppercase"
          id="uppercase"
          class="uppercase"
        />
        <label for="uppercase">Uppercase</label>
      </div>
      <div class="form-control">
        <input
          type="checkbox"
          checked
          name="number"
          id="number"
          class="number"
        />
        <label for="number">Number</label>
      </div>
      <div class="form-control">
        <input
          type="checkbox"
          checked
          name="symbol"
          id="symbol"
          class="symbol"
        />
        <label for="symbol">Symbol</label>
      </div>
    </div>
    <div class="btn-container">
      <button type="button" class="button btn-gen">
        <i class="bi bi-arrow-circle"></i> Generate
      </button>
      <button type="button" class="button btn-save">
        <i class="bi bi-save"></i> Save
      </button>
    </div>
  </form>
</div>

<div class="overlay-save overlay-gen hidden"></div>

<div class="save-form save-gen hidden">
  <i class="close-save close-gen bi bi-x"></i>
  <form autocomplete="off" id="save-btn">
    <div class="form-control">
      <label for="title">Add Title</label>
      <input type="text" id="title" class="title-input" required />
      <span class="title-error error"></span>
    </div>
    <div class="form-control">
      <label for="generated-password">Generated Password</label>
      <input
        type="text"
        id="generated-password"
        class="password-input"
        readonly
      />
    </div>
    <div class="form-control">
      <label for="encrypt-key">Add Encryption Key</label>
      <div class="encrypt-con">
        <input
          type="password"
          id="encrypt-key"
          class="key-input"
          autocapitalize="on"
        />
        <button type="button" id="key-btn" class="key-btn btn-pop">
          Encrypt
        </button>
      </div>
      <span class="key-error error"></span>
    </div>
    <div class="save-button">
      <button type="button" id="regenerate-btn" class="regenerate-btn btn-pop">
        Re-Generate
      </button>
      <button type="submit" class="save-btn btn-pop">Save</button>
    </div>
  </form>
</div>

<div class="generate-error hidden">
  <p>You have not generate a password</p>
</div>
