<div class="help-container">
  <h1>Help</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
    corrupti beatae deleniti reprehenderit id excepturi doloribus iusto ut
    blanditiis ullam!
  </p>
  <ul>
    <li>
      <h3>Dashboard</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestiae
        aliquam, placeat magnam impedit amet cum asperiores itaque ratione rem
        ab saepe accusamus cumque nostrum. Odit praesentium laboriosam quo quae
        ea quidem cupiditate vero commodi totam, est aperiam sunt dolores?
      </p>
      <a href="#">Learn More</a>
    </li>
    <li>
      <h3>Generate Password</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestiae
        aliquam, placeat magnam impedit amet cum asperiores itaque ratione rem
        ab saepe accusamus cumque nostrum. Odit praesentium laboriosam quo quae
        ea quidem cupiditate vero commodi totam, est aperiam sunt dolores?
      </p>
      <a href="#">Learn More</a>
    </li>
    <li>
      <h3>Password Save</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestiae
        aliquam, placeat magnam impedit amet cum asperiores itaque ratione rem
        ab saepe accusamus cumque nostrum. Odit praesentium laboriosam quo quae
        ea quidem cupiditate vero commodi totam, est aperiam sunt dolores?
      </p>
      <a href="#">Learn More</a>
    </li>
    <li>
      <h3>Key Manager</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestiae
        aliquam, placeat magnam impedit amet cum asperiores itaque ratione rem
        ab saepe accusamus cumque nostrum. Odit praesentium laboriosam quo quae
        ea quidem cupiditate vero commodi totam, est aperiam sunt dolores?
      </p>
      <a href="#">Learn More</a>
    </li>
    <li>
      <h3>Account</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestiae
        aliquam, placeat magnam impedit amet cum asperiores itaque ratione rem
        ab saepe accusamus cumque nostrum. Odit praesentium laboriosam quo quae
        ea quidem cupiditate vero commodi totam, est aperiam sunt dolores?
      </p>
      <a href="#">Learn More</a>
    </li>
    <li>
      <h3>Settings</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestiae
        aliquam, placeat magnam impedit amet cum asperiores itaque ratione rem
        ab saepe accusamus cumque nostrum. Odit praesentium laboriosam quo quae
        ea quidem cupiditate vero commodi totam, est aperiam sunt dolores?
      </p>
      <a href="#">Learn More</a>
    </li>
  </ul>
</div>
