<div class="search">
  <input
    type="search"
    id="searchInput"
    class="search-box"
    placeholder="Search by Title"
  />
  <button type="button" id="add-btn" class="add-btn">
    <i class="bi bi-plus"></i>
  </button>
</div>

<div class="save-pass">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>PASSWORD</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-body"></tbody>
    <tfoot>
      <th>ID</th>
      <th>TITLE</th>
      <th>PASSWORD</th>
      <th></th>
    </tfoot>
  </table>
</div>

<div class="overlay-save overlay-box hidden"></div>

<div class="save-form box-form hidden">
  <i class="close-save close-box bi bi-x"></i>
  <form autocomplete="off" class="save-box">
    <div class="form-control">
      <label for="title-save">Add Title</label>
      <input type="text" id="title-save" class="title-input" required />
      <span class="error save-error-title"></span>
    </div>
    <div class="form-control">
      <label for="password-saved">Add Password</label>
      <input type="text" id="password-saved" class="password-input" required />
      <span class="error save-error-pass"></span>
    </div>
    <div class="form-control">
      <label for="encrypt-key-save">Add Encryption Key</label>
      <div class="encrypt-con">
        <input type="password" id="encrypt-key-save" class="key-input" />
        <button type="button" id="key-btn-save" class="key-btn btn-pop">
          Encrypt
        </button>
      </div>
      <span class="key-error-save error"></span>
    </div>
    <div class="save-button">
      <button type="submit" class="save-btn btn-pop">Save</button>
    </div>
  </form>
</div>

<div class="save-form show-box hidden">
  <i class="close-save close-show bi bi-x"></i>
  <form autocomplete="off">
    <div class="form-control">
      <label for="title-save">Title</label>
      <input type="text" id="title-show" class="title-input" readonly />
    </div>
    <div class="form-control">
      <label for="password-saved">Password</label>
      <input type="text" id="password-show" class="password-input" readonly />
    </div>
    <div class="form-control" id="decrypt-box">
      <label for="encrypt-key-save" class="hidden">Add Decryption Key</label>
      <div class="encrypt-con hidden">
        <input type="password" id="decrypt-key-show" class="key-input" />
        <button type="button" id="key-btn-show" class="key-btn btn-pop">
          Decrypt
        </button>
      </div>
      <span class="key-error-save error"></span>
    </div>
  </form>
</div>

<div class="warning hidden">
  <p>
    Are you sure you want to delete this password. You won't be able to retrive
    it again.
  </p>
  <div class="warning-btn-container">
    <button type="button" id="warning-cancel">Cancel</button>
    <button type="button" id="warning-okay">Ok</button>
  </div>
</div>

<div class="confirm confirm-password hidden">
  <form class="confirm-pass-form">
    <div class="form-control">
      <label for="delete-pass">Enter Password</label>
      <input type="password" id="delete-pass" required />
    </div>
    <span class="error cp-error"></span>
    <div class="btn-container">
      <button type="button" class="cancel-form">Cancel</button>
      <button type="submit">Delete</button>
    </div>
  </form>
</div>

<div class="confirm confirm-password-show hidden">
  <form class="confirm-pass-form-show">
    <div class="form-control">
      <label for="delete-pass-show">Enter Password</label>
      <input type="password" id="delete-pass-show" required />
    </div>
    <span class="error cp-error-show"></span>
    <div class="btn-container">
      <button type="button" class="cancel-form-show">Cancel</button>
      <button type="button" id="view-btn">Veiw</button>
    </div>
  </form>
</div>
